:root {
  --maroon: #660000;
  --light-maroon: #d9b3b3;
  --black: #000000;
  --ghost-white: #f7faff;
  --background: #f5f5f4;
  --calendar-date-border: #f0f0f0;
  --warm-grey-400: #a8a29e;
  --warm-grey-500: #78716c;
  --warm-grey-600: #57534e;
  --warm-grey-700: #44403c;
}
